.iconContainer>*{
    color:rgb(200,200,200);
    font-size:30px;
    cursor: pointer;
}
.iconContainer>*:hover{
    color:white;
}
.animateTopDown{
    animation: topDown 3s linear infinite alternate;    
}
.lineAnimation{
    animation: animateLine 3s linear infinite alternate;
}
@keyframes topDown{
    0%{
        bottom:3rem;
    }
    100%{
        bottom:1rem;
    }
}
@keyframes animateLine {
    0% {
        width: 0;
    }
    100% {
        width: 30%;
    }
}