@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');

@font-face {
  font-family:icomoon;src:url(../fonts/icomoon.woff) format('woff'),url(../fonts/icomoon.woff2) format('woff2');font-weight:400;font-style:normal;font-display:block
}

[class*=" icon-"],[class^=icon-] {
  font-family: icomoon!important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.icon-arrow_left:before {
  content: "\e901"
}

.icon-arrow_down:before {
  content: "\e913"
}

.icon-comment:before {
  content: "\e914"
}

.icon-inbox:before {
  content: "\e912"
}

.icon-minus:before {
  content: "\e903"
}

.icon-plus:before {
  content: "\e904"
}

.icon-arrow_right:before {
  content: "\e909"
}

.icon-arrow_up:before {
  content: "\e911"
}

.icon-chevron_right:before {
  content: "\e902"
}

.icon-check:before {
  content: "\e90a"
}

.icon-play:before {
  content: "\e900"
}

.icon-call:before {
  content: "\e90c"
}

.icon-location:before {
  content: "\e90b"
}

.icon-star:before {
  content: "\e90e"
}

.icon-bookmark:before {
  content: "\e90f"
}

.icon-search:before {
  content: "\e910"
}

.icon-whatsapp:before {
  content: "\e905"
}

.icon-twitter:before {
  content: "\e906"
}

.icon-instagram:before {
  content: "\e907"
}

.icon-facebook:before {
  content: "\e908"
}
.icon-facebook,.icon-whatsapp {
  height:50px;
  width:50px;
  border-radius: 50%;
  text-align:center;
  color:white;
  font-size: 25px; 
  display:flex;
  justify-content: center;
  align-items: center;
}
.icon-facebook{
  background-color: #3B5998; 
}
.icon-whatsapp{
  background-color: #29ad17;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.addTransition{
  transition: .25s ease-in-out;
}



.animate-border {
  position: relative;
  display: block;
  width: 115px;
  height: 3px;
  background: #ffdc80; }

.animate-border:after {
  position: absolute;
  content: "";
  width: 35px;
  height: 3px;
  left: 0;
  bottom: 0;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  -webkit-animation: animborder 2s linear infinite;
  animation: animborder 2s linear infinite; }

@-webkit-keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px); } }

@keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px); } }

.animate-border.border-white:after {
  border-color: #fff; }

.animate-border.border-yellow:after {
  border-color: #F5B02E; }

.animate-border.border-orange:after {
  border-right-color: #007bff;
  border-left-color: #007bff; }

.animate-border.border-ash:after {
  border-right-color: #EEF0EF;
  border-left-color: #EEF0EF; }

.animate-border.border-offwhite:after {
  border-right-color: #F7F9F8;
  border-left-color: #F7F9F8; }

/* Animated heading border */
@keyframes primary-short {
  0% {
    width: 15%; }
  50% {
    width: 90%; }
  100% {
    width: 10%; } }

@keyframes primary-long {
  0% {
    width: 80%; }
  50% {
    width: 0%; }
  100% {
    width: 80%; } } 